# Site
NUXT_PUBLIC_SITE_URL=https://toolspace.dev

# Cloudflare Turnstile
# Cloudflare Turnstile
NUXT_TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
NUXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA


# Google Adsense
NUXT_PUBLIC_GOOGLE_ADSENSE_ID=ca-pub-xxxxxxxxxxxxxxxx

# Cloudflare D1 Database
NUXT_HUB_DATABASE_NAME=toolspace-db

NUXT_TIKHUB_TOKEN = ""
